<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <ion-button (click)="open()">open</ion-button>
        <ion-button (click)="takePicture()">takePicture</ion-button>
        <ion-img #image></ion-img>
    </div>
</ion-content>
